$page_font_color: #333;
$page_background_color: #DDD;

$section_font_color: $page_font_color;
$section_title_border_color: #EEE;
$section_background_color: #FFF;

$button_primary_font_color: #FFF;
$button_primary_background_color: #5b99e1;

$button_secondary_font_color: #000;
$button_secondary_background_color: #CCC;

$input_border_color: #DDD;

$alert_warning_font_color: #956D38;
$alert_warning_border_color: #956D38;
$alert_warning_background_color: #F9F3D8;

$alert_info_font_color: #326381;
$alert_info_border_color: #326381;
$alert_info_background_color: #CAE8F3;

$alert_success_font_color: #5D7258;
$alert_success_border_color: #5D7258;
$alert_success_background_color: #DDF2D7;

$alert_error_font_color: #B43135;
$alert_error_border_color: #B43135;
$alert_error_background_color: #EDC8C5;

$alert_debug_font_color: #FFF;
$alert_debug_border_color: #FFF;
$alert_debug_background_color: #333;

$scanner_scanning_color: rgba(#fff, 0.75);
$scanner_valid_color: rgba(#abbd81, 0.75);
$scanner_invalid_color: rgba(#e15b64, 0.75);
$scanner_unknown_color: rgba(#5b99e1, 0.75);
