.ticketPage {
  display: block;

  .guestName {
    text-align: center;
  }

  display: block;

  .errorTitle {
    padding: 4px 2px;
    margin: 0 0 8px;
    border-bottom: 1px solid #EEE;
  }

  .errorImg {
    margin: 32px 0 16px;
    width: inherit;

    img {
      width: 100%;
    }
  }

  .ticketContainer {
    padding: 16px;
    padding-bottom: 4px;
    margin-bottom: 8px;
    background-color: #FFF;

    .ticket {
      position: relative;
      border-bottom: 1px solid #EEE;

      .overlay {
        display: none;
        position: absolute;
        z-index: 2;
        top: 64px;
        left: 64px;
        bottom: 64px;
        right: 64px;
      }
    }
  }

  .status {
    text-align: center;
    padding: 8px;
    background-color: #e15b64;
  }

  &.checkedIn {
    .ticket .overlay {
      display: block;
    }

    canvas {
      filter: grayscale(0.75) blur(5px);
      opacity: 0.4;
    }

    .status {
      background-color: #abbd81;
    }
  }

}
