body {
  background-color: #DDD;
}

.app {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #333;
  max-width: 100vw;
  overflow: hidden;
}
