@import './utils/colours.module.scss';

body {
  background-color: $page_background_color;
}

.app {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: $page_font_color;
  max-width: 100vw;
  overflow: hidden;
}

a,
a:link,
a:active,
a:visited {
  text-decoration: none;
  color: $page_font_color;
}
